{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": "> 1%"
        }
      }
    ]
  ],
  "plugins": [
    [
      "component",
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
    ],
    "@babel/plugin-syntax-dynamic-import"
  ]
}
