<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <!-- <script src="./json-dll/library.dll.js"></script> -->
  </head>
  <body>
    <div id="root">
      <!-- <input v-model='inputValue'/> <button @click='submit'>提交</button>
        <ul>
            <li v-for='(item, index) in list' @click='deleteItem(index)'>{{item}}</li>
            <todo-item v-for='(item, index) in list' @delete='deleteItem' :content="item" :index="index" :key="item"></todo-item>
        <ul> -->
      <App></App>
    </div>
  </body>
</html>
